.hook-message
{
    position: fixed;
    min-width: 155px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 12px;
    background-color: #1f2631;
    bottom: -50px;
    right: 30px;
    padding: 0 15px 0 15px;
}

.hook-message.hook-message-show
{
    animation-name: hm-slide-in,hm-slide-in;
    animation-duration: .6s,.6s;
    animation-delay: 1s,7s;
    animation-fill-mode: forwards,forwards;
    animation-direction: normal,reverse;
}

@keyframes hm-slide-in
{
    from
    {
        transform: translateY(0px);
    }

    to
    {
        transform: translateY(-70px)
    }
}

/*--- day marking ---*/

.list-section .entry.kyou .title
{
    color: white;
}

.list-section .entry.day.kyou.nic
{
    background-color: #e05b56;
}

.list-section .entry.day.kyou.get
{
    background-color: #b790fd;
}

.list-section .entry.day.kyou.ka
{
    background-color: #fec828;
}

.list-section .entry.day.kyou.mizu
{
    background-color: #8eafff;
}

.list-section .entry.day.kyou.moku
{
    background-color: #cade87;
}

.list-section .entry.day.kyou.kin
{
    background-color: #ec9756;
}

.list-section .entry.day.kyou.do
{
    background-color: #b0aa9e;
}

.entry.day .title a::after
{
    margin-left: 10px;
    padding: 2px 3px 2px 3px;
    color: white;
    font-size: 12px;
    border-radius: 3px;
}

.entry.day.nic .title a::after
{
    content: "日";
    background-color: #e05b56;
}

.entry.day.get .title a::after
{
    content: "月";
    background-color: #b790fd;
}

.entry.day.ka .title a::after
{
    content: "火";
    background-color: #fec828;
}

.entry.day.mizu .title a::after
{
    content: "水";
    background-color: #8eafff;
}

.entry.day.moku .title a::after
{
    content: "木";
    background-color: #cade87;
}

.entry.day.kin .title a::after
{
    content: "金";
    background-color: #ec9756;
}

.entry.day.do .title a::after
{
    content: "土";
    background-color: #b0aa9e;
}