.show-box-hold
{
    display: flex;

    .day-text-zone
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 8px;

        .day-text
        {
            height: 20px;
        }
    }
}