@charset "UTF-8";

body
{
    margin: 0;
    font-family: "montserrat-lit";
}

p
{
    margin: 0;
}

.options
{
    width: 240px;
    height: 60px;
}

.options:hover
{
    background-color: grey;
}
