@import (reference) "../../../shared-css/shared-css.less";

.show-box
{
    width: 170px;
    font-size: 0;

    .cover-img
    {
        width: 100%;
    }

    .content
    {
        padding: 6px 8px 8px 8px;
        background: white;

        a
        {
            display: block;

            h2
            {
                text-align: center;
                line-height: 1.1;
            }
        }
    }
}