@import (reference) "../../../shared-css/shared-css.less";

.show-box
{
    display: inline-block;
    width: 170px;
    font-size: 0;
    margin: 5px;
    vertical-align: top;
    --day-colour: transparent;

    .cover-hold
    {
        background-color: var(--day-colour);

        .cover-img
        {
            width: 100%;
        }
    }

    .content
    {
        padding: 6px 8px 8px 8px;
        background: white;

        a
        {
            display: block;

            h2
            {
                text-align: center;
                line-height: 1.1;
            }

            &:hover
            {
                color: var(--day-colour);
            }
        }
    }

    .day-indicator
    {
        height: 5px;
        background-color: var(--day-colour);
    }

    .input-zone
    {
        display: flex;
        height: 20px;
        opacity: 0;
        transition: opacity @main-transition-time;

        .nyaa-hold
        {
            width: 100%;
            height: 100%;
            flex: 1;

            .nyaa-input
            {
                width: 97%;
                height: 100%;
                border: none;
                padding: 0;
                padding-left: 6px;
                box-sizing: border-box;
                background-color: transparent;
                border-bottom: 1px solid @sub-grey;
                color: @main-black;

                &:focus
                {
                    outline: none;
                }

                &::placeholder
                {
                    opacity: 0.7;
                    font-style: italic;
                }
            }
        }


        .day-input
        {
            width: 30%;
            height: 100%;
            border: none;
            background: var(--day-colour);
        }
    }

    &:hover
    {
        .input-zone
        {
            opacity: 1;
        }
    }

    &.focused
    {
        .input-zone
        {
            opacity: 1;
        }
    }

    &.N\/A
    {
        .content a:hover
        {
            color: @main-black;
        }
    }

    each(@colour-classes,{
        &.@{key}
        {
            --day-colour: @value;
        }
    });
}