@font-face
{
    font-family: "montserrat-reg";
    src: url("Montserrat-Regular.woff2");
}

@font-face
{
    font-family: "montserrat-lit";
    src: url("Montserrat-Light.woff2");
}

@font-face
{
    font-family: "montserrat-med";
    src: url("Montserrat-Medium.woff2");
}
