@charset "UTF-8";

@weird-grey: #f8f8f8;
@new-weird-grey: #edf1f5;
@grey-blue: #5c728a;
@ani-blue: #47aee4;
@bright-line-grey: #cec7cf;

@input-font: "montserrat";

@import "colours2.less";

body
{
    margin: 0;
    font-size: 0;
    font-family: "montserrat";
    font-weight: 400;
    color: @grey-blue;
    background-color: @new-weird-grey;
    padding: 50px 0 100px 0;
}

h1,h2
{
    margin: 0;
}

@import "showblock.less";

//container for showblocks
.day-block
{
    width: 780px; //later change if needed to fit showblocks
    margin: auto;
    padding: 18px 0 18px 0;

    .day-label
    {
        font-size: 25px;
        font-weight: 500;
        padding: 0 0 0 40px;
        line-height: 1;
        color: @ani-blue;
    }

    .none-text
    {
        font-size: 18px;
        text-align: center;
    }
}