@charset "UTF-8";

@weird-grey: #f8f8f8; //initially used for background
@new-weird-grey: #edf1f5; //initially used for background
@grey-blue: #5c728a; //bluish grey for main text colour
@ani-blue: #47aee4; //bright blue for headers
@bright-line-grey: #cec7cf; //used for input lines

@input-font: "montserrat";

@import "colours2.less";

body
{
    margin: 0;
    font-size: 0;
    font-family: "montserrat";
    font-weight: 400;
    color: @grey-blue;
    background-color: @new-weird-grey;
    padding: 50px 0 100px 0;
}

h1,h2
{
    margin: 0;
}

@import "showblock.less";

//top header area with settings things
.header-setter
{
    margin: auto;
    text-align: center;

    p
    {
        display: inline-block;
        font-size: 15px;
    }

    input
    {
        &:extend(.nyaa-setting input); //borrow styles from nyaa-setting
        border-bottom-color: @grey-blue;
        color: @grey-blue;
        caret-color: @grey-blue;
        font-size: 15px;
    }
}

//container for showblocks
.day-block
{
    width: 780px; //later change if needed to fit showblocks
    margin: auto;
    padding: 18px 0 18px 0;

    .day-label
    {
        font-size: 25px;
        font-weight: 500;
        padding: 0 0 0 40px;
        line-height: 1;
        color: @ani-blue;
    }

    .none-text
    {
        font-size: 18px;
        text-align: center;
    }
}