@charset "UTF-8";

body
{
    margin: 0;
    font-family: "montserrat-lit";
}

p
{
    margin: 0;
    color: #023584;
}

a
{
    text-decoration: none;
}

a:hover
{
    color: #01A8FE;
}

.entries-header
{
    text-align: center;
    font-size: 13px;
}

.entry
{
    width: 240px;
    height: 60px;
    font-size: 0;
}

.entry-link:nth-child(odd) .entry
{
    background-color: rgba(128,147,167,0.06);
}

.entry div
{
    display: inline-block;
    vertical-align: top;
}

.entry .no-ep
{
    font-size: 18px;
    font-style: italic;
}

.entry .small-box
{
    height: 100%;
    width: 60px;
    overflow: hidden;
}

.entry .small-box img
{
    height: 100%;
}

.entry .small-box.ep,.entry .no-ep
{
    vertical-align: middle;
    line-height: 60px;
}

.entry .small-box.ep p,.entry .no-ep
{
    text-align: center;
}

.entry .title
{
    height: 60px;
    width: 120px;
    vertical-align: middle;
    line-height: 60px;
    overflow: hidden;
}

.entry .title p,.entry .small-box p
{
    font-size: 20px;
}

.entry .title p:hover
{
    color: #01A8FE;
}

.row-box
{
    width: 240px;
    height: 60px;
}

.ex-links
{
    font-size: 0;
    background-color: #1f2631;
}

.ex-links .plink
{
    display: inline-block;
    z-index: 10px;
    height: 60px;
    width: 120px;
}

.ex-links .link
{
    display: inline-block;
    height: 60px;
    width: 120px;
    text-align: center;
}

.ex-links .link:hover
{
    background-color: rgba(1,168,254,.9);
}

.ex-links .link img
{
    height: 100%;
}

.options
{
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

.options p
{
    font-size: 20px;
}

.options p:hover
{
    color: #00a8ff;
}